services:
    pihole:
        image: pihole/pihole:latest
        container_name: pihole
        hostname: pihole
        env_file:
            - .env
        volumes:
            - ./config:/etc/pihole
            - ./dnsmasq.d:/etc/dnsmasq.d
        ports:
            - "80:80/tcp"
            - "53:53/tcp"
            - "53:53/udp"
        restart: unless-stopped