services:
    nginx:
        image: nginx:stable-alpine
        container_name: nginx
        hostname: nginx
        depends_on:
            - php
        ports:
            - "80:80"
        volumes:
            - ./data:/data
            - ./config/nginx.conf:/etc/nginx/nginx.conf
            - ./data/html:/var/www/html
            - ./config:/config
        restart: unless-stopped

    php:
        build: ./php
        #image: php:fpm-alpine
        container_name: php
        hostname: php
        depends_on:
            - mariadb
        env_file:
            - .env
        volumes:
            - ./data:/data
            - ./data/html:/var/www/html
            - ./config:/config
        restart: unless-stopped
    
    mariadb:
        image: mariadb:latest
        container_name: mariadb
        hostname: mariadb
        ports:
            - "3306:3306"
        env_file:
            - .env
        volumes: 
            - ./data/database:/var/lib/mysql
