services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    hostname: portainer
    environment:
      - TZ=America/Los_Angeles
    restart: unless-stopped
    ports:
        - "9443:9443"
    volumes:
        - portainer_data:/data
        - /var/run/docker.sock:/var/run/docker.sock

volumes:
    portainer_data:

